 
    <!-- navbar -->
    {{> _adminNav}}
    <!-- end of navbar -->

    <!-- patient table -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
              <h3 class="text-info text-center mb-3">Doctors</h3>
              <div class="row d-flex justify-content-center m-2">
                <div class="input-group md-form form-sm form-1 pl-0 col-6  text-center">
                  <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-dark" aria-hidden="true"></i></span>
                  </div>
                    <input class="form-control my-0 py-1" type="text" placeholder="Search Doctors" aria-label="Search">
                </div>
              </div>
              <div class="table responsive">
                    <table class="table table-striped bg-light text-center">
                  <thead>
                    <tr class="text-muted">
                      <th>#</th>
                      <th>User Name</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Speciality</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each users}}
                    <tr>
                      <th>{{@index}}</th>
                      <td>{{userName}}</td>
                      <td>{{name}}</td>
                      <td>{{email}}</td>
                      <td>{{speciality}}</td>
                      <td>
                         <a href="doctorTable/{{id}}">
                          <button type="button" class="btn btn-primary btn-sm">View</button></a>
                        <a href="doctorTable">
                          <button type="button" class="btn btn-success btn-sm">Edit</button></a>
                          <form method="post" action="doctorTable/{{id}}?_method=DELETE" class="float-right">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                          </form>
                      </td>
                    </tr> 
                    {{else}}<p class="text-muted">NO Patients to Show</p>

                    {{/each}}               
                  </tbody>
                </table>
              </div>
            </div>
         </div>
      </div>
    </div>
    </section>
    <!-- end of table -->
    


