
<!-- navbar -->
{{> _adminNav}}
<!-- end of navbar -->

<!-- patient table -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
          <h3 class="text-center mb-3  general-Title7">Doctors</h3>
          <!-- <div class="row d-flex justify-content-center m-2">
          <div class="input-group md-form form-sm form-1 pl-0 col-6  text-center">
          <div class="input-group-prepend">
          <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-dark" aria-hidden="true"></i></span>
        </div>
        <input class="form-control my-0 py-1" type="text" id="search" name="search" placeholder="Search By Name">
      </div>
    </div> -->
    <div class="table responsive">
      <table id='doctor-table' class="table text-center">
        <thead class="thead-dark">
          <tr class="text-muted">
            <th>#</th>
            <th>User Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Speciality</th>
            <!-- <th>Status</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <th>{{add @index 1}}</th>
            <td>{{userName}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{speciality}}</td>
            <!-- <td>{{status}}</td> -->
            <td>
              <a href="doctorTable/{{id}}">
                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></button></a>
                <a href="doctorTable/delete/{{id}}">
                  <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                </a>

              </td>
            </tr>
            {{else}}<p class="text-muted">NO Patients to Show</p>

            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- end of table -->

<!-- <script>
$(function(){
$('#search').autocomplete({
source: function(req,res){
console.log(req,res)
$.ajax({
url:"autocomplete/doc/",
dataType:"jsonp",
type:"GET",
data:req,
success: function(data){
console.log(data);
res(data)

},
error: function(err){
console.log(err.status);
}
});
},

minLength:1,
select: function(event,ui){
if(ui.item){
$('#search').val(ui.item.label);
}
}
});

});
</script> -->
<script>
$(document).ready(function() {
  var t = $('#doctor-table').DataTable( {
    "columnDefs": [ {
      "pageLength": 5,
      "searchable": false,
      "orderable": false,
      "targets": 0,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]

    } ],
    "order": [[ 1, 'asc' ]]
  } );

  t.on( 'order.dt search.dt', function () {
    t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
      cell.innerHTML = i+1;
    } );
  } ).draw();
} );
</script>
