
    <!-- navbar -->
    {{> _docNav}}
    <!-- end of navbar -->

  
    <!-- tables -->
    <section>
      <div class="container-fluid">
        <div class="row mb-5 mt-3">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
            <div class="row justify-content-center">
              <div class="col-xl-10 col-12 mb-4 mb-xl-0">
                <h3 class="text-muted text-center mb-3">Appointment Requests</h3>
                <table class="table table-striped bg-light text-center">
                  <thead>
                    <tr class="text-muted">
                      <div class="col-6">
                      <th>#</th>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>Date</th>
                      <th>Time</th>
                      </div>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>Ishak</td>
                      <td>ishak@gmail.com</td>
                      <td>09/08/2019</td>
                      <td>04:00pm</td>
                      <td>
                        <a href="viewPatient">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="admin">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                          <a href="">
                          <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a>
                      </td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Dipu</td>
                      <td>dipu@gmail.com</td>
                      <td>10/10/2019</td>
                      <td>05:00pm</td>
                      <td>
                        <a href="">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                          <a href="">
                          <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a>
                      </td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Karim</td>
                      <td>karim@gmail.com</td>
                      <td>10/10/2019</td>
                      <td>03:00pm</td>
                      <td>
                        <a href="">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="admin.html">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                          <a href="admin.html">
                          <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a>

                          
                      </td>                    
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>Mary</td>
                      <td>mary@gmail.com</td>
                      <td>03/04/2019</td>
                      <td>05:00pm</td>
                      <td>
                        <a href="">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                          <a href="">
                          <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- end of pagination -->
              </div>
              

              <!-- 2nd Table -->
              <div class="col-xl-10 col-12 mb-4 mt-5 mb-xl-0">
                <h3 class="text-muted text-center mb-3">Patient Schedule</h3>
                <table class="table table-striped-dark text-light bg-dark text-center">
                  <thead>
                    <tr class="text-muted">
                      <div class="col-6">
                      <th>User Name</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Date</th>
                      <th>Time</th>
                      </div>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each apts}}
                    <tr>
                      <td>{{patientId.userName}}</td>
                      <td>{{patientId.name}}</td>
                      <td>{{patientId.email}}</td>
                      <td>{{formatDate appointmentDate 'YYYY-MM-DD'}}</td>
                      <td>{{formatDate appointmentDate 'LT'}}-{{formatDate appointmentEnd 'LT'}}</td>
                      <td>
                        <a href="viewPatient/{{_id}}">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="doctorMail">
                          <button type="button" class="btn btn-info">
                            <i class="fas fa-envelope"></i></button>
                          </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- end of pagination -->
              </div>
              <!-- 2nd table ends -->


            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- end of tables -->





