
<!-- navbar -->
{{> _docNav}}
<!-- end of navbar -->


<!-- tables -->
<section>
  <div class="container-fluid">
    <div class="row mb-5 mt-3">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
          <div class="row justify-content-center">

            <!-- 2nd Table -->
            <div class="col-xl-10 col-12 mb-4 mt-0 mb-xl-0">
              {{#if apts.length}}
              <h3 class="text-dark text-center mb-3">Patient Schedule</h3>
              <table class="table table-striped-dark text-light bg-dark text-center">
                <thead>
                  <tr class="text-muted">
                    <div class="col-6">
                      <th>User Name</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Date</th>
                      <th>Time</th>
                    </div>
                    <th>View Details</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each apts}}
                  <tr>
                    <td>{{patientId.userName}}</td>
                    <td>{{patientId.name}}</td>
                    <td>{{patientId.email}}</td>
                    <td>{{formatDate appointmentDate 'YYYY-MM-DD'}}</td>
                    <td>{{formatDate appointmentDate 'LT'}}-{{formatDate appointmentEnd 'LT'}}</td>
                    <td>
                      <a href="viewPatient/{{_id}}">
                        <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  {{else}}
                  <h3 class="text-dark text-center mb-3 display-4 mt-5">Nothing to Show</h3>
                  <h6 class="text-muted text-center mb-3">Scheduled Appointmets will be Shown Here</h6>
                  {{/if}}
                </div>
                <!-- 2nd table ends -->



              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tables -->
