  
    <!-- navbar -->
    {{> _docNav}}
    <!-- end of navbar -->


   <!--  Admin Profile -->

   <section>
      <div class="container-fluid">
        <div class="row ">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">

              <div class="container">
                <h3 class="text-info font-weight-bold text-center mb-3">Doctor Profile</h3>
              </div>


              <div class="col-12 text-center">
              <img src="/images/doc1.png"  width="100" class="rounded">
              <hr style="height:3px">
              </div>

              <div class="row justify-content-center">
              <div class="col-12 mt-3">
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Name:</div>
                  <div class="col-6 bg-light">{{user.name}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Email:</div>
                  <div class="col-6 bg-light">{{user.email}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Phone No:</div>
                  <div class="col-6 bg-light">{{user.contact}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Date of Birth:</div>
                  <div class="col-6 bg-light">{{dob}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Chamber:</div>
                  <div class="col-6 bg-light">{{user.chamber}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Education:</div>
                  <div class="col-6 bg-light">{{user.education}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Work Experience:</div>
                  <div class="col-6 bg-light">{{user.experience}}</div>
              </div>
              <div class="row profile_info m-2">
                  <div class="col-6 plabel">Degree:</div>
                  <div class="col-6 bg-light">{{user.degree}}</div>
              </div>
                
              </div>
              </div>

              <div class="row justify-content-end m-3">
                <a href="editDoctorProfile"><button class="btn btn-primary text-left">Edit Profile</button></a>
              </div>
           </div>
         </div>
      </div>
    </div>
    </section>
  






