<!-- navbar -->
  {{> _docNav}}
<!-- end of navbar -->

    <!-- cards -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-5 mt-md-3 mb-5">
              <div class="col-xl-4 col-sm-6 p-2">
                <div class="card card-common">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-user fa-3x text-danger"></i>
                      <div class="text-right text-secondary">
                        <h5>Requested Appointments</h5>
                        <h3>4</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="far fa-eye mr-3"></i>
                    <span>View Now</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 p-2">
                <div class="card card-common">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-user fa-3x text-primary"></i>
                      <div class="text-right text-secondary">
                        <h5>Approved Appointments</h5>
                        <h3>2</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="far fa-eye mr-3"></i>
                    <span>View Now</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 p-2">
                <div class="card card-common">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-users fa-3x text-info"></i>
                      <div class="text-right text-secondary">
                        <h5>Total Patient Treated</h5>
                        <h3>5</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="far fa-eye mr-3"></i>
                    <span>View Now</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of cards -->

    <!-- tables -->
    <section>
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center">
              <div class="col-xl-12 col-12 mb-4 mb-xl-0">
                <h3 class="text-muted text-center mb-3">Appointment Requests</h3>
                <table class="table table-striped bg-light text-center">
                  <thead>
                    <tr class="text-muted">
                      <div class="col-6">
                      <th>#</th>
                      <th>Patient Name</th>
                      <th>Email</th>
                      <th>Date</th>
                      <th>Time</th>
                      </div>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each apts}}
                    <tr>
                      <th>{{add @index 1}}</th>
                      <td>{{patientId.userName}}</td>
                      <td>{{patientId.email}}</td>
                      <td>{{formatDate appointmentDate 'L'}}</td>
                      <td>{{formatDate appointmentDate 'LT'}}-{{formatDate appointmentEnd 'LT'}}</td>
                      <td>
                        <a href="{{docId.userName}}/viewPatient/{{_id}}">
                          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a>
                          <a href="{{docId.userName}}/rejectPatient/{{_id}}">
                          <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                          <a href="{{docId.userName}}/acceptPatient/{{_id}}">
                          <button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- end of pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of tables -->



