
    <!-- navbar -->
    {{> _docNav}}
    <!-- end of navbar -->
   <!--  Admin Profile -->

   <section>
      <div class="container-fluid">
        <div class="row ">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-2 md-3 mb-5 col-xl-12">
               <!-- Form starts for Profile edit -->
              <div class="container">
                <h3 class="text-center mb-2 mt-0">Edit Schedule</h3>
                <hr>
                <div class="col-12 align-items-center">
                    <form class="form-horizontal" role="form" action="editSchedule/?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                      <h4>Saturday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="satStart">Start Time:</label>
                          <input type="time" class="form-control" name="satStart" value="{{schedule.start.[0]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="satEnd">End Time:</label>
                          <input type="time" class="form-control" name="satEnd" value="{{schedule.end.[0]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Sunday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="sunStart">Start Time:</label>
                          <input type="time" class="form-control" name="sunStart" value="{{schedule.start.[1]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="sunEnd">End Time:</label>
                          <input type="time" class="form-control" name="sunEnd" value="{{schedule.end.[1]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Monday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="monStart">Start Time:</label>
                          <input type="time" class="form-control" name="monStart" value="{{schedule.start.[2]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="monEnd">End Time:</label>
                          <input type="time" class="form-control" name="monEnd" value="{{schedule.end.[2]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Tuesday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="tueStart">Start Time:</label>
                          <input type="time" class="form-control" name="tueStart" value="{{schedule.start.[3]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="tueEnd">End Time:</label>
                          <input type="time" class="form-control" name="tueEnd" value="{{schedule.end.[3]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Wednesday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="wedStart">Start Time:</label>
                          <input type="time" class="form-control" name="wedStart" value="{{schedule.start.[4]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="wedEnd">End Time:</label>
                          <input type="time" class="form-control" name="wedEnd" value="{{schedule.end.[4]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Thursday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="thurStart">Start Time:</label>
                          <input type="time" class="form-control" name="thurStart" value="{{schedule.start.[5]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="thurEnd">End Time:</label>
                          <input type="time" class="form-control" name="thurEnd" value="{{schedule.end.[5]}}">
                        </div>
                      </div>
                      <hr>

                      <h4>Friday</h4>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="friStart">Start Time:</label>
                          <input type="time" class="form-control" name="friStart" value="{{schedule.start.[6]}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="friEnd">End Time:</label>
                          <input type="time" class="form-control" name="friEnd" value="{{schedule.end.[6]}}">
                        </div>
                      </div>
                      <hr>
                      <div class="row justify-content-center align-items-center">
                      <button type="submit" class="btn btn-info">Save</button>
                      </div>
                      
                    </form>


                  </div>
              </div>              
           </div>
         </div>
      </div>
    </div>
    </section>