
    <!-- navbar -->
    {{> _docNav}}
    <!-- end of navbar -->

    <!-- email sending -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">

              <div class="container mt-2">
                <h3 class="text-info font-weight-bold text-center mb-3">Patient Report</h3>
              </div>
              <form method="post" action="/doctor/{{userName}}/patientForm/{{apt.patientId._id}}/{{apt._id}}">



              <div class="form-row mt-2">
              <div class="form-group col-md-6">
              <label for="docName">Doctor Name:</label>
              <input type="text" readonly class="form-control" name="docName" id="docName" placeholder="{{apt.docId.name}}">
              </div>
              <div class="form-group col-md-6">
              <label for="patName">Patient Name:</label>
              <input type="text" readonly class="form-control" name="patName" id="patName" placeholder="{{apt.patientId.name}}">
              </div>
              </div>

              <div class="form-row mt-2">
              <div class="form-group col-md-6">
              <label for="docMail">Doctor Email:</label>
              <input type="email" class="form-control" id="docMail" name="docEmail" value placeholder="{{apt.docId.email}}">
              </div>
              <div class="form-group col-md-6">
              <label for="docNum">Doctor Phone No:</label>
              <input type="text" class="form-control" id="docNum" name="docPhone" placeholder="{{apt.docId.contact}}">
              </div>
              </div>

              <div class="form-group">
              <label for="inputAddress">Doctor Address</label>
              <input type="text" class="form-control" id="inputAddress" name="docAddress" placeholder="{{apt.docId.chamber}}">
              </div>
                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Patient's Stmptomps:</label>
                  <textarea class="form-control" name="symptom" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Medication Details:</label>
                  <textarea class="form-control" name="medication" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Addition Information</label>:</label>
                  <textarea class="form-control" name="info" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group row">
                <label for="example-date-input" name="date" class="col-2 col-form-label">Date</label>
                <div class="col-4">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
         </div>
      </div>
    </div>
    </section>
    







