<!-- start of navbar -->
{{> _patientNav}}
<!-- end of navbar -->


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-0" >
        <div class="pt-md-0 mt-md-0 mb-0 col-xl-12 ml-0 pl-0" >

         <div class="leftpane bg-light mt-3">
          <div class="row">
            <div class="container-fluid">
              <form class="customSearch mt-5 ml-2" method="post">
                <input type="text" class="textbox" placeholder="Search">
              </form>
            </div>
          </div>
          <div class="row mt-3 ml-2">
            <div class="container-fluid">
              <p class="font-weight-bold"><h6>Friends</h6></p>

              <ul class="friends-list">
                {{#each friendList}}
                <li class="friendlist">
                  <a href="/patient/{{../userName}}/chat/{{this.friendId.userName}}" style="text-decoration: none;">
                    <div class="row">
                      <div class="col-md-3 p-2">
                        {{#if this.friendId.profileImage}}
                        <div class="msg-img" style="background-image: url(/uploads/{{this.friendId.profileImage}})">
                        </div>
                        {{else}}
                        <div class="msg-img" style="background-image: url(/uploads/default.jpg)">
                        </div>
                        {{/if}}
                      </div>
                      <div class="col-md-8 mt-3">
                        <p class="text-dark">{{this.friendId.name}}</p>
                      </div>
                    </div>
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="msger">

            <input type="hidden" id="name-user" value="{{userName}}">
            <input type="hidden" id="name-receiver" value="{{receiver}}">

            <header class="msger-header">
              <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i>{{receiver}}
              </div>
              <div class="msger-header-options">
                <span><i class="fas fa-phone"></i></span>
              </div>
            </header>

            <div class="msger-chat" id="chat">

              {{#gt "{{length messages}}" '0'}}
              {{#each messages}}
              {{#eq this.senderName ../userName}}

              <div class="msg right-msg m-2">
                {{#if this.sender.profileImage}}
                <div
                class="msg-img"
                style="background-image: url(/uploads/{{this.sender.profileImage}})"
                ></div>
                {{else}}
                <div
                class="msg-img"
                style="background-image: url(/uploads/default.jpg)"
                ></div>
                {{/if}}
                <div class="msg-bubble">
                  <div class="msg-info">
                    <div class="msg-info-name">{{this.senderName}}</div>
                  </div>

                  <div class="msg-text">
                    {{this.message}}
                  </div>
                </div>
              </div>

              {{else}}

              <div class="msg left-msg m-2">
                {{#if this.sender.profileImage}}
                <div
                class="msg-img"
                style="background-image: url(/uploads/{{this.sender.profileImage}})"
                ></div>
                {{else}}
                <div
                class="msg-img"
                style="background-image: url(/uploads/default.jpg)"
                ></div>
                {{/if}}
                <div class="msg-bubble">
                  <div class="msg-info">
                    <div class="msg-info-name">{{this.senderName}}</div>
                  </div>

                  <div class="msg-text">
                    {{this.message}}
                  </div>
                </div>
              </div>

              {{/eq}}
              {{/each}}
              {{/gt}}
            </div>

            <form class="msger-inputarea" id="message_form" method="post">
              <input type="text" id="msg" class="msger-input" placeholder="Enter your message...">
              <input type="submit" id="send-message" class="msger-send-btn" value="Send Message">
            </form>

          </div>
        </div>




      </div>
    </div>
  </div>

</div>
</section>
