<style>
.card-deck {
  margin: 0 -15px;
  justify-content: space-evenly;
}

.card-img-top{
  max-width: 80%;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  opacity: .85;
}
.card-deck .card {
  margin: 0 0 1rem;
}
.card-title {
    font-size: 20px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
  }

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
  }
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  }
</style>

<!-- navbar -->
{{> _patientNav}}
<!-- end of navbar -->


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">

          <!-- End of SearchBox -->
          <div class="container">

            <div class="card-deck">
              {{#each doctors}}
              <div class="card bg-light">
                {{#if profileImage}}
                <img class="card-img-top" src="/uploads/{{profileImage}}" alt="doctor image">
                {{else}}
                <img class="card-img-top" src="/images/docNew.jpg" alt="doctor image">
                {{/if}}

                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-text">{{speciality}}</p>
                  <div style="text-align:center;">
                    <a href="viewDocProfile/{{id}}">
                      <i class="fas fa-eye text-info ml-2"  data-toggle="tooltip" data-placement="top" title="View Profile"></i>
                    </a>
                  </div>
                </div>
              </div>
              {{/each}}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
  //initializing tooltip
  $('[data-toggle="tooltip"]').tooltip();
  $('html').css('overflow', 'hidden');
});
</script>
