
    <!-- navbar -->
    {{> _patientNav}}
    <!-- end of navbar -->

    <!-- patient table -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
            <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
              <h3 class="text-muted text-center mb-3">Find Doctors</h3>
                     <div class="container">
                      <!-- Start of SearchBox -->
                      <div class="row justify-content-center">    
                          <div class="col-6 col-xs-12 col-xs-offset-2 ">
                            <form action="/patient/{{userName}}/doctors" method="GET">
                          <div class="input-group">
                                  <div class="input-group-btn search-panel">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept"> All</span>  <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#contains">Allergists</a></li>
                                        <li><a href="#its_equal"> Dermatologists</a></li>
                                        <li><a href="#greather_than">Cardiologists</a></li>
                                        <li><a href="#less_than">Neurologists</a></li>
                                        <li><a href="#all">Psychiatrists</a></li>
                                      </ul>
                                  </div>
                                  <input type="hidden" name="search_param" value="all" id="search_param">         
                                  <input type="text" class="form-control" name="search" placeholder="Search term...">
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                                  </span>
                              </div>
                            </form>
                          </div>
                    </div>
                    <!-- End of SearchBox -->
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-bordered mt-3">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Speciality</th>
                              <th scope="col">Experience</th>
                              <th scope="col">View Profile</th>
                            </tr>
                          </thead>
                          <tbody>
                          {{#each doctors}}
                            <tr>
                              <th scope="row">{{@index}}</th>
                              <td>{{name}}</td>
                              <td>{{email}}</td>
                              <td>{{speciality}}</td>
                              <td>{{experience}}</td>
                              <td>
                                <div class="row justify-content-center">
                                  <a href="viewDocProfile/{{id}}"><i class="fas fa-eye text-primary ml-2"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            {{else}}

                            {{/each}}
              
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            </div>
         </div>
      </div>
    </div>
    </section>
    <!-- end of table -->

