<!-- navbar -->
{{> _patientNav}}
<!-- end of navbar -->

<!-- patient table -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">
          <h3 class="text-dark text-center mb-3 general-Title5">Medical History</h3>
          <div class="container align-items-center">

            <div class="table responsive">
              <table class="table table-bordered table-text-align">
                <thead>
                  <tr class="text-muted">
                    <th>Doctor Name</th>
                    <th>Email</th>
                    <th>Appointment Date</th>
                    <th>Report</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each apts}}
                  <tr>
                    <td>{{docId.name}}</td>
                    <td>{{docId.email}}</td>
                    <td>{{formatDate appointmentDate 'LLLL'}}</td>
                    <td>
                      {{#eq reportSent 'Yes'}}
                      <a href="/patient/{{patientId.userName}}/report/{{_id}}">
                          <button type="button" class="btn btn-green btn-sm">
                            <i class="fa fa-download text-dark"></i>
                          </button>
                      </a>
                      {{else}}
                          <button type="button" class="btn btn-green btn-sm" disabled>
                            <i class="fas fa-file-times"></i>
                          </button>
                      {{/eq}}
                    </td>
                    <td>
                      {{#iff @root.friends docId.userName}}
                      <a href="/patient/{{patientId.userName}}/chat/{{docId.userName}}">
                          <button type="button" class="btn btn-info btn-sm">
                            <i class="fas fa-envelope text-light"></i>
                          </button>
                      </a>
                      {{/iff}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of table -->
