<!-- navbar -->
{{> _patientNav}}
<!-- end of navbar -->

<!--  Patient Profile -->
<section>
  <div class="container-fluid">
    <div class="row flex justify-content-center">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-4">
        <div class="pt-md-5 mt-md-3 mb-5 col-xl-12">

          <div class="col-12 text-center">
            <img src="/images/admin.png"  width="100" class="rounded-circle">
            <hr class="hrSt mt-0">
          </div>

          <div class="row justify-content-center">
            <div class="col-12 mt-3">
              <div class="row profile_info m-2">
                <div class="col-6 plabel">User Name:</div>
                <div class="col-6 bg-light">{{user.userName}}</div>
              </div>
              <div class="row profile_info m-2">
                <div class="col-6 plabel">Name:</div>
                <div class="col-6 bg-light">{{user.name}}</div>
              </div>
              <div class="row profile_info m-2">
                <div class="col-6 plabel">Email:</div>
                <div class="col-6 bg-light">{{user.email}}</div>
              </div>
              <div class="row profile_info m-2">
                <div class="col-6 plabel">Phone No:</div>
                <div class="col-6 bg-light">{{user.contact}}</div>
              </div>
              <div class="row profile_info m-2">
                <div class="col-6 plabel">Date of Birth:</div>
                <div class="col-6 bg-light">{{dob}}</div>
              </div>
              <div class="row profile_info m-2">
                <div class="col-6 plabel">Gender:</div>
                <div class="col-6 bg-light">{{user.gender}}</div>
              </div>

            </div>
          </div>

          <div class="row justify-content-end m-3">
            <a href="/patient/{{userName}}/editPatientProfile"><button class="btn btn-primary text-left">Edit</button></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>






